* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* create a box */
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}

.about {
    min-height: 100vh;
    width: 100%;
    padding: 50px 0; /* Reduced padding */
    background-color: #7b56c0;
}

.about img {
    border: 2px double #6626ce;
    box-shadow: 0 0 5px #573194, 0 0 25px #7c51c2;
    height: auto;
    width: 50%;
    border-radius: 5em;
    transition: 1s ease;
}

.about-text h1 {
    color: azure;
    font-size: 60px;
    margin: 2em 0.1em 0.2em 0; /* margin size of header 1 */
}

.about-text h5 {
    color: azure;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0.2em; /* closer spacing */
}

.about-text p {
    color: azure;
    letter-spacing: 1px;
    line-height: 24px; /* line height to bring lines closer */
    font-size: 18px;
    margin-bottom: 20px; /* margin for closer spacing */
}

.main {
    width: 1200px;
    max-width: 90%; /* max-width */
    margin: 0 auto;
    display: flex;
    align-items: flex-start; /* aligned to the top*/
    justify-content: flex-start; /* aligning everything to the left */
    gap: 50px; /* space between img and text */
}

button {
    background: transparent;
    color: #decdf8;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #966fd6;
    font-weight: bold;
    padding: 10px 20px; 
    border-radius: 30px;
    transition: 0.4s ease;
    margin-right: 10px; /* Space between buttons */
}

button:hover {
    background: #966fd6;
    color: azure;
    border: 2px solid #966fd6;
    box-shadow: 0 0 5px #966fd6, 0 0 25px #966fd6;
    cursor: pointer;
    transform: scale(1.05);
}
